@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom scrollbar class for a cleaner modal view */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
